$color-primary: #2789f3;
$color-primary-darker: #1b60aa;
$color-primary-lighter: #4f89c8;

$color-secondary: #38d9a9;
$color-secondary-darker: #2dae87;
$color-secondary-lighter: #60e1ba;

$color-tertiary: #9775fa;
$color-tertiary-darker: #6a52af;
$color-tertiary-lighter: #ac91fb;

$color-primary-opacity: #278af371;
$color-secondary-opacity: #38d9a94d;
$color-tertiary-opacity: #9675fa6f;

$gradient-primary: linear-gradient(to top left, #52a1f5, #2789f3);
$gradient-secondary: linear-gradient(to top left, #2dae87, #60e1ba);

// Grey Colors
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #d8d8d8;
$color-grey-light-2: #aaa;
$color-grey-light-3: #888;

$color-grey-dark-1: #666;
$color-grey-dark-2: #444;
$color-grey-dark-3: #37383d;
